{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Getting Started with Python</h1>
      <p>This is a sample Python application. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the platform.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://www.koli.com.br"><span class="glyphiconglyphicon-flash"></span> About us</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/koli/python-getting-started"><span class="glyphiconglyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      To deploy your own copy, fork this repo and navigate through the code to learn the fundamentals of the platform.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
          <li>This app was deployed to Koli.</li>
          <li>When Koli received the source code, it fetched all the dependencies in the <a href="https://github.com/koli/python-getting-started/blob/master/requirements.txt">requirements.txt file</a>, creating a deployable slug.</li>
          <li>The platform then spins up a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
          <li>You can scale your app, manage it, and deploy it from the Dashboard.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.koli.com.br">Koli</a></li>
        <li><a href="https://github.com/koli">Koli GitHub</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
